<!--esto de como funciona-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Energía Nuclear</title>
    <link rel="stylesheet" href="../css/funcionamiento.css">
</head>
<body>
    <div class="container">
        <h2>Los Tres pasos de la Energia Nuclear</h2>
        <div class="sections">
            <!--Este es el div de el primer recuadro, el fision, flor amarilla-->
            <div class="section" data-info="Es el proceso en el que los núcleos de átomos pesados, como el uranio o el plutonio, se dividen al ser bombardeados con neutrones. Esta división libera una gran cantidad de energía en forma de calor y radiación. Es la base del funcionamiento de los reactores nucleares, donde la fisión controlada permite generar energía de manera continua." id="Fision">
              <h3>1. Energía del Átomo</h3>
                <img src="../images/Fision_dimension.png">
            </div>
            <!--Este es el div de el primer recuadro, generacion de calor, azul-->
            <div class="section" data-info="La energía liberada durante la fisión nuclear se utiliza para calentar grandes cantidades de agua. Este calor convierte el agua en vapor a alta presión, que es fundamental para el siguiente paso del proceso. La generación eficiente de calor en el reactor es clave para mantener la producción de energía estable." id="generacion">
                <h3>2. Generacion de energia</h3>
                <img src="../images/generacion_.png">
            </div>
            <!--Este es el div de el primer recuadro, electricidad, rojo-->
            <div class="section" data-info="El vapor generado se canaliza hacia turbinas, que al girar por la fuerza del vapor, están conectadas a generadores eléctricos. Este movimiento convierte la energía mecánica en electricidad, que luego se distribuye a través de la red eléctrica para su uso en hogares, industrias y ciudades." id="electricidad">
                <!--<span>3</span>-->
                <h3>3. Producción de electricidad</h3>
                <!--  <p>Conoce el origen del poder nuclear.</p>-->
                <img src="../images/electricidad_dim.png">
            </div>
        </div>
        <div id="info-box" class="hidden"></div>
    </div>
    <script src="../js/funcionamiento.js"></script>
</body>
</html>
