<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cómo funciona la energía nuclear</title>
  <!-- Vincular el archivo CSS -->
  <link rel="stylesheet" href="../css/impacto.css">
</head>
<body>
  <div class="container">
    <h1>Tres impactos de la Energia Nuclear</h1>
    <div class="timeline">
      <!--Este es el primer cuadrito-->
      <div class="step" id="uno">
        <h2>Impacto Cultural.</h2>
        <ul>
          <li>Percepción de la ciencia y la tecnología tras accidentes.</li>
          <li>Desplazamiento de comunidades cercanas a plantas nucleares.</li>
          <li>Diversidad en la aceptación global de la energía nuclear.</li>
        </ul>
      </div>
      <div class="step" id="dos">
        <h2>Impacto Ambiental</h2>
        <ul>
          <li>Desperdicio de desechos radiactivos peligrosos.</li>
          <li>Riesgo de accidentes nucleares con efectos ambientales graves.</li>
          <li>Gran consumo de agua para enfriamiento de reactores.</li>
        </ul>
      </div>
      <div class="step" id="tres">
        <h2>Impacto Social</h2>
        <ul>
          <li>Creación de empleos y desarrollo económico local.</li>
          <li>Desigualdad en el acceso a energía.</li>
          <li>Problemas de salud por exposición a radiación cerca de plantas nucleares.</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Vincular el archivo JavaScript -->
  <script src="../js/impacto.js"></script>
</body>
</html>
