<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Energía Nuclear</title>
  <link rel="stylesheet" href="../css/index.css">
</head>

<body>
  <header class="header">
    <div class="header-content">
      <h1>ENERGÍA NUCLEAR: PEDAGOGÍA TEMPRANA PARA LA ENERGÍA DEL FUTURO</h1>
      <p>Explore los conceptos basicos de la energia nuclear; una solución limpia, eficiente y sostenible para nuestras
        crecientes necesidades energéticas.</p>
      <div class="buttons">

        <a href="funcionamiento.html" class="btn primary">¿Como funciona?</a>

        <a href="impacto.html" class="btn secondary">Impacto</a>

        <a href="que_es.html" class="btn secondary">¿Que es?</a>
      </div>
    </div>
    <div class="header-image">
      <img src="../images/Colombia_energia_Nuclear.png" alt="Planta de energía nuclear ">
    </div>
  </header>


  <!--Esta es la seccion de pros y contras-->
  <section class="section" id="pros-contras">
    <div class="content">
      <img src="../images/Pros_Contras_E_Nuclear.png" alt="Ilustración de beneficios y desafíos de la energía nuclear">
      <h2>Beneficios y Desafios</h2>
    </div>
    <div class="pros-contras">
      <div class="pros">
        <h3>Beneficios</h3>
        <ul class="icon:✔" style="color: green;">
          <li>Alta eficiencia: Genera grandes cantidades de energía con poco combustible.</li>
          <li>Bajas emisiones de carbono: Ayuda a combatir el cambio climático al producir poca contaminación.</li>
          <li>Energía continua: Proporciona una fuente estable y confiable de electricidad.</li>
          <li>Independencia energética: Reduce la dependencia de combustibles fósiles.</li>
          <li>Aplicaciones adicionales: Usos en medicina, investigación y propulsión en submarinos.</li>
        </ul>
      </div>
      <div class="contras">
        <h3>Desafíos</h3>
        <ul>
          <li>Riesgo de accidentes: Potenciales desastres como Chernobyl y Fukushima.</li>
          <li>Gestión de residuos: Los desechos radiactivos son peligrosos y difíciles de almacenar.</li>
          <li>Altos costos iniciales: La construcción de plantas nucleares es costosa.</li>
          <li>Proliferación nuclear: El riesgo de uso militar de la tecnología nuclear.</li>
          <li>Resistencia social: Miedo y oposición pública a la energía nuclear por temas de seguridad y medioambiente.
          </li>
        </ul>
      </div>
    </div>
  </section>



  <!-- Seccion avance de la energia nuclear en Colombia -->
  <section class="avance-colombia" id="avance-colombia">
    <div class="content-header">
      <h1>Avances e implementacion de la energía nuclear en Colombia</h1>
    </div>
    <div class="content-body">
      <div class="image-section">
        <img src="../images/Energia_esperanza.png" alt="Bandera de Colombia y avances nucleares">
      </div>
      <div class="content-section">
        <div class="feature">
          <div class="icon">*</div>
          <div class="text">
            <h2>Reactor nuclear</h2>
            <p>En 1965, Estados Unidos donó a Colombia el primer y único reactor nuclear del país, el IAN-R1, que se
              encuentra en Bogotá. Este reactor se utiliza para realizar estudios geocientíficos, como analizar muestras
              geológicas y determinar la edad de formaciones</p>
          </div>
        </div>
        <div class="feature">
          <div class="icon">*</div>
          <div class="text">
            <h2>Plan Energético Nacional</h2>
            <p>El Plan Energético Nacional proyecta que Colombia incorpore la energía nuclear en su matriz energética
              para 2052.</p>
          </div>
        </div>
        <div class="feature">
          <div class="icon">*</div>
          <div class="text">
            <h2>Investigación</h2>
            <p>Colombia ha realizado investigaciones en el sector nuclear, como la producción de radiofármacos para
              diagnosticar y tratar enfermedades.</p>
          </div>
        </div>
        <div class="feature">
          <div class="icon">*</div>
          <div class="text">
            <h2>Normativas</h2>
            <p>Colombia ha puesto en marcha mecanismos normativos y estratégicos para sentar las bases de la energía
              nuclear en el país.</p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <script src="../js/Index.js"></script>
</body>

</html>