<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planta Nuclear</title>
    <link rel="stylesheet" href="../css/que_es.css">
    
</head>
<body>
    <div class="container">
        <h1>¿Qué es la Energía Nuclear?</h1>
        <button id="open-modal" class="open-modal">
           <img src="../images/quees2_Final.png">
           
        </button>

        <!-- Modal (bloque de texto oculto inicialmente) -->
        <div id="modal" class="modal">
            <div class="modal-content">
                <span id="close-modal" class="close">&times;</span>
                <h2>¿Que es la Energia Nuclear?</h2>
                <p>La energía nuclear es una fuente de energía que se obtiene a partir de reacciones en el núcleo de los átomos. Estas reacciones liberan grandes cantidades de energía mediante dos procesos: fisión, que consiste en la división de núcleos atómicos pesados como el uranio, y fusión, que une núcleos ligeros como los del hidrógeno. La energía nuclear es altamente eficiente y se utiliza principalmente para generar electricidad, emitiendo muy pocas cantidades de gases contaminantes. Sin embargo, presenta desafíos importantes como la gestión segura de residuos radiactivos y el riesgo de accidentes en las plantas nucleares.</p>
            </div>
        </div>
    </div>

    <script src="../js/que_es.js"></script>
</body>
</html>
